---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={`bg-white p-6 md:p-8 rounded-2xl shadow-sm border border-gray-100 ${className || ''}`}>
  <slot />
</div>
